.app-sidebar {
 
    width: 150px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    box-sizing: border-box;
    max-width: calc(100% - 250px);
  }
  
  .app-content-container {
    max-width: 100%;
    margin: 30px ;
  }