<div id="card-container">
  <div class="card">
    <!-- Contenido de la columna izquierda -->
    <div class="column">
      <img [src]="imagePath" alt="Logo" class="logo">
      <h2 class="title">Bienvenido al Sistema Unificado de Gestión de Cines (SIGECI)</h2>
      <p class="role-text">SIGECI, busca mejorar la gestión de las carteleras de cines en
        República Dominicana por parte de la Dirección General de Cine.</p>
        <button type="button"  routerLink="/">Ir al Inicio</button>
    </div>

    <div class="divider"></div>

    <!-- Contenido de la columna derecha -->
    <div class="column">
      <h2 class="title">Iniciar Sesión</h2>
      <form [formGroup]="loginForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" >

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" formControlName="password">

        <button type="button"  (click)="doLogin()">Ingresar</button>
      </form>

      <p class="register-text">Ingresar Usuario y Contraseña asignadas.</p>
    </div>
  </div>
</div>
