/* pelicula-card.component.css */
.pelicula-card {
    border: 1px solid #ccc;
    border-radius: 8px;
   
    margin: 16px;
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  h3 {
    margin: 8px 0;
    font-size: 1.2em;
  }
  
  p {
    color: #555;
    padding-bottom: 0;
    margin-bottom: 0;

  }
  
