/* form-movie-dialog.component.css */
:host {
    display: block;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    max-width: auto;
    margin: 0 auto;
    border: 2px solid #d9d9d9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 1;
    margin-right: 30px;
  }
  
  .label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .outline-button {
    background-color: transparent;
    color: #0575e6;
    padding: 5px 15px;
    border: 2px solid #0575e6;
    border-radius: 20px;
  }
  
  .fill-button {
    background-color: #0575e6;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    margin-left: 5px;
    border-radius: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  
  
  