
    <!-- dashboard.component.html -->
    <div class="dashboard-container">
      <h1 class="dashboard-title">Bienvenido a SIGECI</h1>

      <div class="card-container">
        <!-- Primera fila de cards -->
        <div class="card card1">
          <div class="card-title">Peliculas Registradas</div>
          <div class="card-number">{{ moviesCount }}</div>
        </div>

        <div class="card card2">
          <div class="card-title">Cines Registrados</div>
          <div class="card-number">{{ cinemasCount }}</div>
        </div>

        <div class="card card3">
          <div class="card-title">Salas Registradas</div>
          <div class="card-number">{{ roomsCount }}</div>
        </div>

      </div>
      <h1 class="dashboard-subtitle">Peliculas asignadas al cliente web:</h1>
      <div class="movies-table-container">
        <table class="movies-table">
          <thead>
            <tr>
              <th>Pelicula</th>
              <th>Cine</th>
              <th>Sala</th>
              <th>Precio por Asiento</th>
              <th>Fecha de Exhibición</th>
              <th>Hora de Exhibición</th>
              <th>Fecha de Registro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movies">
              <td>{{ movie.movieName || 'N/A' }}</td>
              <td>{{ movie.cinemaName || 'N/A' }}</td>
              <td>{{ movie.screenName || 'N/A' }}</td>
              <td>{{ (movie.priceBySeat | currency:'RD$') || 'N/A' }}</td>
              <td>{{( movie.showingDate | date:'dd/MM/yyyy') || 'N/A' }}</td>
              <td>{{ movie.transformedTime || 'N/A' }}</td>
              <td>{{( movie.createdAt | date:'dd/MM/yyyy') || 'N/A' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
