
/* dashboard.component.css */

/* dashboard.component.css */


.wrapper {
  display: flex;
}
.app-sidebar {
  /* Establece el ancho deseado para el sidebar */
  width: 50px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px;
  box-sizing: border-box;
  max-width: calc(100% - 250px);
}

.card {
  flex: 1 1 calc(33.33% - 20px); /* Tres cards por fila */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* dashboard.component.css */
.card1 { background-color: #FFD700; } /* Amarillo */
.card2 { background-color: #87CEEB; } /* Azul claro */
.card3 { background-color: #DBF4A7; } /* Verde claro */
.card4 { background-color: #E8E1EF; } /* Rosa claro */
.card5 { background-color: #FFA07A; } /* Salmón claro */
.card6 { background-color: #AFEEEE; } /* Turquesa claro */

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-number {
  font-size: 24px;
  color: #333;
}


.dashboard-container {
  padding: 20px;
}


.dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.movies-container {
  width: 100%;
}

.movies-table-container {
  overflow-x: auto;
  margin-top: 20px;
  margin-right: 30px;
}

.movies-table {
  width: 100%;
  border-collapse: collapse;
}

.movies-table th,
.movies-table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;

}

.movies-table th {
  background-color: #f2f2f2;
  white-space: nowrap;
  min-width: 150px;
}

.movies-table td {
  background-color: white;
}

.dashboard-table th {
  background-color: #f2f2f2;
}

.dashboard-table td {
  background-color: white;
}

.dashboard-subtitle{
font-size: large;
margin-top: 40px;
}
