<div class="header">
    <div class="top-bar">
        <div class="logo-container">
          <img [src]="imagePath" alt="Logo" routerLink="/" style="cursor: pointer;"> 
        </div>
        <div class="menu-container">
          <ul class="menu-list">
            <li><a routerLink="/guest/webpage" routerLinkActive="active">Cartelera</a></li>
            <li><a routerLink="/guest/cinemas" routerLinkActive="active">Cines</a></li>
          </ul>
        </div>
        <div class="admin-access">
          <button class="outline-button" routerLink="/admin">Acceder como Administrador</button>
        </div>
      </div>
      <div class="bottom-bar d-flex justify-content-center" >
       
          <div class="col-md-8">
            <app-searcher [searchOptions]="searchOptions" [list]="cinemas" [searcherName]="'Buscador de Cines'"
            (listFilteredOutput)="changeListForSearch($event)"></app-searcher>
          </div>
      </div>
</div>
<div class="pelicula-list h-100 mt-5">
  <div  *ngFor="let cinema of cinemasFiltered">
    <app-cinema-card [cinema]="cinema" ></app-cinema-card>
  </div>

  <p *ngIf="cinemasFiltered.length == 0 && searched"><strong class="text-danger">No se han encontrado cines disponibles</strong></p>
</div>
<app-footer></app-footer>

